<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input id="bbb" name="username" type="text" class="form-control " placeholder="Ваше имя" value="<%=@username%>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control ccc" placeholder="Ваш телефон" value="<%=@phone%>">
  </div>
  

   <div class="form-group">
    <label>Когда вас ждать?</label>
    <input id="aaa" name="datetime" type="text" class="form-control" placeholder="Введите дату и время" value="<%=@datetime%>">
  </div>
  
  <div class="form-group">
    <label>Наши парикмахеры:</label>
    <select name="barber" class="form-control ccc">
      <option <%= @barber == 'Иванов' ? 'selected' : '' %>>Иванов</option>
      <option <%= @barber == 'Петров' ? 'selected' : '' %>>Петров</option>
      <option <%= @barber == 'Сидоров' ? 'selected' : '' %>>Сидоров</option>
    </select>
  </div>

     <div class="form-group">
    <label>В какой цвет хотите покраситься ?</label>
  <select  id="color" name="color"> 
    <option  value = "#7bd148">Зеленый</option> 
    <option  value = "#5484ed">Полужирный синий</option> 
    <option  value = "#a4bdfc">Синий</option> 
    <option  value = "#46d6db">Бирюзовый</option> 
    <option  value = "#7ae7bf">Светло-зеленый</option> 
    <option  value = "#51b749">Жирный зеленый</option> 
    <option  value = "#fbd75b">Желтый</option> 
    <option  value = "#ffb878">Оранжевый</option> 
    <option  value = "#ff887c">Красный</option> 
    <option  value = "#dc2127">Жирный красный</option> 
    <option  value = "#dbadff">Фиолетовый</option> 
    <option  value = "#e1e1e1">Серый</option> 
  </select >  
  </div>



  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
<script type="text/javascript">

$(function() {
  /*тут я могу записать любой джаваскрипт код который выполниться на этой странице
   *$('#aaa').css('background-color','yellow');
   *$('#bbb').css('background-color','green');
   *$('.ccc').css('background-color','orange');
   */
  $('#color').simplecolorpicker();
}); 
</script>